---
import Layout from '~/layouts/Layout.astro'
---

<Layout>
  <div class="m-auto text-center">
    <h1 class="inline-block p-4 text-accent text-4xl">404</h1>
    <p class="text-foreground/80 -mt-2">页面不存在</p>
    <a class="button mt-6 inline-flex" href="/">返回首页</a>
  </div>
</Layout>
